@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  background-color: #C2E2F8;
  font-family: "Poppins", sans-serif;
  }

#search-screen{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4vh;
  height: 70vh;
}




