  /*This heavily borrows from the style sheet from GeoAPIfy */

  /*
  input[type=text]{
    font-family: poppins;
    background-color: #F9F9F9;
    padding: 1vw;
    border: none;
    outline: none;
    border-radius: 30px;
    text-align: center;
    font-size: 3vw;
  }
    */

  #search-bar{
    position: relative;
  }
  
  #search-bar img{
    position: absolute;
    max-width: 3vw;
    left: 2%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }

  /*border: 1px solid rgba(0, 0, 0, 0.3);
   width: calc(100% - 40px)
   
   ;
  */


  .geoapify-autocomplete-input {
    position: relative;
    font-family: "Poppins", sans-serif;
    background-color: #F9F9F9;
    padding: 1vw;
    outline: none;
    border: none;
    border-radius: 30px;
    text-align: center;
    font-size: 1.75vw;
    width: 200%;
    right: 50%;
    z-index: 0;
}

.geoapify-autocomplete-items {
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-top: none;
    background-color: #F9F9F9;
    
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}

.geoapify-autocomplete-items div {
    padding: 10px;
    cursor: pointer;
}

.geoapify-autocomplete-items div:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.geoapify-autocomplete-items .active {
    background-color: rgba(0, 0, 0, 0.1);
}

.geoapify-autocomplete-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.geoapify-autocomplete-item .icon {
    display: inline-block;
    width: 40px;
    height: 24px;
    color: #aaa;
}

.geoapify-autocomplete-item .icon.emoji {
    color: unset;
    font-size: 20px;
    opacity: 0.9;
}

.geoapify-close-button {
    position: absolute;
    right: 0px;
    top: 0;
    margin-right: -200px;

    height: 100%;
    display: none;
    align-items: center;
}

.geoapify-close-button.visible {
    display: flex;
}

.geoapify-close-button {
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.geoapify-close-button:hover {
    color: rgba(0, 0, 0, 0.6);
}

.geoapify-autocomplete-items .main-part .non-verified {
    color:  #ff4848;
}

.geoapify-autocomplete-items .secondary-part {
    margin-left: 10px;
    font-size: small;
    color: rgba(0, 0, 0, 0.6);
}

