body {
  background-color: #C2E2F8;
  font-family: poppins, sans-serif;
  }

#search-screen{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5vh;
  height: 70vh;
}




